h1{
    padding-left:10px;
}
h2{
    padding-left:25px;
}
p{
    padding-left:50px;
}
span.secret{
    color:#333;
}
a{
    text-decoration: none;
}
a.back{
    float:right;
    padding-right:20px;
}
a:link,a:visited{
    color:#0ff;
}
a:hover{
    color:#f30;
}